/* 顶部导航栏   topnav */
.topnav {
    background-color: #333333;
    height: 40px;
}

.topnav-left {
    float: left;
}

.topnav-left > a {
    float: left;
    color: #b0b0b0;
    font-size: 11px;
    line-height: 40px;
    margin: 0 8px;
}

.topnav-left > a:nth-child(1) {
    margin-left: 0px;
}

.topnav-left > i
,.topnav-right > i {
    float: left;
    color: #393f3f;
    line-height: 40px;
    font-size: 13px;
}

/*   下载APP 二维码    */
.topnav-left .app {
    position: relative;
}

.topnav-left .app > span {
    position: absolute;
    display: none;
    top: 39px;
    left: -34px;
    width: 110px;
    background-color: white;
    text-align: center;
    line-height: 0px;
    box-shadow: 0px 0px 4px 0px grey;
    z-index: 1;
}

.topnav-left .app > span:before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 8px solid transparent;
    border-right:  8px solid transparent;
    border-bottom: 8px solid white;
    top: -18px;
    left: 50%;
    margin-left: -8px;
}

.topnav-left .app > span > img {
    width: 90px;
    height: 90px;
    margin: 10px 10px 0px 10px;
}
.topnav-left .app > span > em {
    display: block;
    color: #333333;
    font-size: 11px;
    line-height: 39px;
    font-weight: 400;
}

.topnav-left .app:hover span {
    display: block;
}

.topnav-right {
    float: right;
}

.topnav-right > a:nth-child(-n+5) {
    float: left;
    color: #b0b0b0;
    font-size: 11px;
    line-height: 40px;
    margin: 0 8px;
}

.topnav-right > a:nth-child(6) {
    float: left;
    color: #b0b0b0;
    width: 120px;
    height: 40px;
    background-color: #424242;
    line-height: 40px;
    font-size: 11px;
    margin-left: calc( 25px - 8px);
}

.topnav-right > a:nth-child(6) > i {
    float: left;
    font-size: 25px;
    margin-left: 14px;
    margin-right: 4px;
}

.topnav a:hover {
    color: white;
}

.topnav-right > a:nth-child(6):hover {
    color: #ff6700;
    background-color: white;
}


/* 搜索导航栏    searchnav */
.searchnav {
    height: 100px;
    /* background-color: aqua; */
}

.searchnav-logo {
    float: left;
    height: 50px;
    width: 50px;
    background-color: #ff6700;
    background-image: url(../img/mi-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: calc( ( 100px - 50px ) / 2 );
}

.searchnav-logo:hover {
    background-image: url(../img/mi-home.png);
    background-repeat: no-repeat;
}

.searchnav-nav {
    float: left;
    margin-left: calc( 189px - 10px);
}

.searchnav-nav > a {
    float: left;
    font-size: 15px;
    color: #333333;
    line-height: 100px;
    margin: 0 10px;
}

.searchnav-nav > a:hover {
    color: #ff6700;
}


.searchnav-search {
    float: right;
    position: relative;
    margin-top: 25px;
}

.searchnav-search input:nth-child(1) {
    float: left;
    width: 244px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    padding: 0 10px;
    border-right: none;
}
.searchnav-search input:nth-child(2) {
    float: left;
    width: 52px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    background-color: white;
    font-size: 23px;
    font-weight: 900;
    color: #616161;
    cursor: pointer;
}

.searchnav-search:hover input {
    border-color: #999999;
}

.searchnav-search input:nth-child(2):hover {
    color: white;
    background-color: #ff6700;
    border-color: #ff6700;
}

.searchnav-search input:focus
{
    border-color: #ff6700;
}

.searchnav-search-hotkeys {
    position: absolute; 
     width: 175px;
     height: 18px;
     /* background-color: yellow; */
     top: calc( ( 50px - 18px ) / 2 );
     left: 58px;
}

.searchnav-search-hotkeys > a {
    float: left;
    font-size: 11px;
    line-height: 18px;
    color: #757575;
    background-color: #eeeeee;
    padding: 0 5px;
}

.searchnav-search-hotkeys a:nth-child(1) {
    margin-right: 9px;
}

.searchnav-search-hotkeys > a:hover {
    color: white;
    background-color: #ff6700;
}

/* 轮播图 */
.carousel-photo > li > a {
    display: block;
    height: 460px;
}

.carousel-left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 234px;
    height: 460px;
    box-sizing: border-box;
    background-color: rgba(105,101,101,.6);
    padding-top: calc( (460px - (42px * 10)) / 2 );
}

.carousel-left > a {
    display: block;
    height: 42px;
    /* background-color: turquoise; */
    line-height: 42px;
    box-sizing: border-box;
    padding-left: 30px;
    font-weight: 700;
    color: #fff;
    padding-right: 24px;
}

.carousel-left > a:hover {
    background-color: #ff6700;
}

.carousel-left > a > i {
    float: right;
    font-weight: 400;
    font-size: 16px;
}
.carousel-prev {
    position: absolute;
    height: 69px;
    width: 41px;
    left: 234px;
    top: 50%;
    margin-top: -35px;
    font-size: 38px;
    line-height: 69px;
    text-align: center;
    cursor: pointer;
    color: #a3a8ab;
}

.carousel-prev i,
.carousel-next i {
    line-height: 75px;
}

.carousel-next {
    position: absolute;
    height: 69px;
    width: 41px;
    right: 0px;
    top: 50%;
    margin-top: -35px;
    font-size: 38px;
    line-height: 69px;
    text-align: center;
    cursor: pointer;
    color: #a3a8ab;
}

.carousel-next:hover,
.carousel-prev:hover {
    background-color: #000d13;
    color: white;
}

.carousel-bullet {
    position: absolute;
    right: 40px;
    bottom: 30px;

}
.carousel-bullet li {
    float: left;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border: 2px solid hsla(0,0%,100%,.3);
    background-color: rgba(0,0,0,.4);
    margin: 0 4px;
    border-radius: 50%;
}
.carousel-bullet li:hover {
    background-color: hsla(0,0%,100%,.4);
    border-color: rgba(0,0,0,.4);
}

/* 优惠栏 */
.discount {
    height: 170px;
    margin-top: 14px;
    margin-bottom: 26px;
}

.discount-left {
    float: left;
    width: 234px;
    height: 170px;
    background-color: #5f5750;
}

.discount-left > a {
    float: left;
    position: relative;
    width: calc( 234px / 3 );
    height: calc( 170px / 2 );
    box-sizing: border-box;
    /* border: 1px solid hotpink; */
    color: white;
    text-align: center;
    opacity: 0.7;
}

.discount-left > a:after {
    content: "";
    position: absolute;
    display: block;
    width: 64px;
    height: 1px;
    background-color: #665e57;
    top: 2px;
    left: 9px;
}

.discount-left > a:before {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 70px;
    background-color: #665e57;
    top: 9px;
    left: 3px;
}

.discount-left > a:hover {
    opacity: 1;
}

.discount-left > a > img {
    margin-top: 22px;
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
}

.discount-left > a > span {
    display: block;
}

.discount > .container > a {
    float: left;
    height: 170px;
    width: 316px;
    /* background-color: hotpink; */
    margin-left: 15px;
    transition: all 0.2s;
}

.discount > .container > a:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}

.discount > .container > a > img {
    height: 100%;
    width: 100%;
}

.discount > .container > a:nth-child(2) {
    margin-left: 14px;
}

/* 闪购栏 */
.flash {
    background-color: #f5f5f5;
}

/* 闪购标题 */
.flash-title {
    height: 62px;
}

.flash-title > h1 {
    float: left;
    font-size: 22px;
    font-weight: 100;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei";
    line-height: 62px;
}

.flash-title > div{
    float: right;
    margin-top: 28px;
}

.flash-title > div > a {
    float: left;
    width: 34px;
    height: 22px;
    border: 1px solid #e0e0e0;
    text-align: center;
    color: #b0b0b1;
}
.flash-title > div > a > i {
    line-height: 22px;
    font-size: 16px;
 
}

.flash-title > div > a:hover {
    color: #ff6700;
}

/* 闪购活动内容 */
.flash-content {
    height: 340px;
}

/* 闪购倒计时 */
.flash-content-seckill {
    float: left;
    height: 340px;
    width: 234px;
    background-color: #f1eded;
    box-sizing: border-box;
    border-top: 1px solid #e53935;
    text-align: center;
}

.flash-content-seckill h2 {
    color: #e53935;
    font-size: 21px;
    font-weight: normal;
    margin-top: 58px;
    margin-bottom: 30px;
}

.flash-content-seckill h3 {
    margin-top: 34px;
    color: #6f6d6d;
    font-weight: 400;
    font-size: 15px;
}

.flash-content-seckill > div {
    margin-top: 32px;
}

.flash-content-seckill > div > span {
    display: inline-block;
    width: 46px;
    height: 46px;
    background-color: #605751;
    font-size: 24px;
    line-height: 46px;
    color: white;
}

.flash-content-seckill > div > i {
    display: inline-block;
    font-size: 28px;
    width: 15px;
    color: #605751;
}

/* 闪购产品 */
.flash-content-product {
    float: right;
    height: 340px;
}

.flash-content-product > a {
    position: relative;
    float: left;
    width: 234px;
    height: 340px;
    box-sizing: border-box;
    border-top: 1px solid #00c0a5;  
    margin-left: 14px;
    text-align: center;
    background-color: white;
    font-size: 14px;
}

/* 原本每个产品的背景都为白色，用伪元素after给它们都加上一个半透明遮罩 */
.flash-content-product > a:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 234px;
    height: 339px;
    background-color: rgba(0,0,0,.02);
}

.flash-content-product > a > img {
    width: 160px;
    height: 160px;
    margin-top: 39px;
}

.flash-content-product > a > h1 {
    margin-top: 30px;
    color: #202020;
    margin-bottom: 10px;
    font-weight: normal;
}

.flash-content-product > a p:nth-child(3) {
      color: #b0b0b0; 
      font-size: 12px;
}

.flash-content-product > a p:nth-child(4) {
    margin-top: 18px;
    color: #fa6509;
} 

.flash-content-product > a p:nth-child(4) small {
    color: #b0b0b0; 
    text-decoration: line-through;
    font-size: 12px;
}

.flash-content-product a:nth-child(1) {
    border-color: #83c44e;
}


.flash-content-product a:nth-child(2) {
    border-color: #ffac13;
}

.flash-content-product a:nth-child(2) span {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -32px;
    width: 64px;
    height: 20px;
    background-color: #e53935;
    color: white;
    line-height: 20px;
    font-size: 12px;
}

.flash-content-product a:nth-child(3) {
    border-color: #e53935;
}

/* 闪购底部的广告 */
.flash-ad {
    display: block;
    height: 120px;
    margin: 22px 0px;
}
.flash-ad img {
    height: 120px;
}

/* 手机栏 */
.phone {
    background-color: #f5f5f5;
}
/* 手机标题栏 */
.phone-title {
    height: 58px;
}
.phone-title h2 {
    float: left;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
}

.phone-title > a {
    float: right;
    height: 20px;
    margin-top: 19px;
    transition: all 0.4s;
}

.phone-title > a > span {
    float: left;
    font-size: 16px;
    line-height: 20px;
}

.phone-title > a > div {
    margin-top: -1px;
    font-size: 12px;
    float: left;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 22px;
    background-color: #b0b0b0;
    border-radius: 16px;
    margin-left: 8px;
    color: white;
    transition: all .4s;
}

.phone-title > a:hover {
    color: #ff6700;
}

.phone-title > a:hover div {
    background-color: #ff6700;
}

/* 手机内容栏 */
.phone-content {
    height: 614px;
}

.phone-content > div:nth-child(1) {
    float: left;
    transition: all .2s linear;
}

.phone-content > div:nth-child(1) a {
    display: block;
    height: 614px;
}

.phone-content > div:nth-child(1):hover {
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    transform: translate3d(0,-2px,0);
}
.phone-content-right {
    float: right;
    width: calc( 1226px - 234px);
}
.phone-content-right > a {
    float: left;
    width: 234px;
    height: 300px;
    background-color: white;
    box-sizing: border-box;
    margin-left: 14px;
    padding-top: 20px;
    text-align: center;
    transition: all .2s linear;
} 

.phone-content-right > a:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    transform: translate3d(0,-2px,0);
}
.phone-content-right > a:nth-child(-n+4) {
    margin-bottom: 14px;
}

.phone-content-right > a > img {
    width: 160px;
    height: 160px;
}

.phone-content-right > a > h3 {
    margin-top: 20px;
    font-size: 14px;
    font-weight: normal;
}

.phone-content-right > a > p:nth-child(3) {
    margin-top: 8px;
    font-size: 12px;
    color: #b0b0b0;
}

.phone-content-right > a > p:nth-child(4) {
    margin-top: 16px;
    font-size: 14px;
    color: #ff6700;
}

.phone-content-right > a > p:nth-child(4) > del {
    color: #b0b0b0;
    text-decoration: line-through;
}
/* 手机栏底部广告 */
.phone-ad {
    margin-top: 36px;
}
.phone-ad a {
    display: block;
    height: 120px;
}

/* 视频栏 */

.video {
    padding: 36px 0px;
    background-color: #f5f5f5;
}
.video-title {
    height: 58px;
}
.video-title h2 {
    float: left;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
}

.video-title > a {
    float: right;
    height: 20px;
    margin-top: 19px;
    transition: all 0.4s;
}

.video-title > a > span {
    float: left;
    font-size: 16px;
    line-height: 20px;
}

.video-title > a > div {
    margin-top: -1px;
    font-size: 12px;
    float: left;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 22px;
    background-color: #b0b0b0;
    border-radius: 16px;
    margin-left: 8px;
    color: white;
    transition: all .4s;
}

.video-title > a:hover {
    color: #ff6700;
}

.video-title > a:hover div {
    background-color: #ff6700;
}


.video-content {
    height: 285px;
    /* background-color: #00c0a5; */
}

.video-content > li {
    position: relative;
    float: left;
    width: 296px;
    height: 285px;
    background-color: #fff;
    margin-right: 14px;
    transition: all .2s linear;
}

.video-content > li:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    transform:  translate3d(0,-2px,0);
}
.video-content-play > div {
    height: 177px;
}

.video-content > li:nth-child(4) {
    margin-right: 0px;
}

.video-content > li h3 {
    line-height: 77px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.video-content > li span {
    display: block;
    position: absolute;
    top: 146px;
    left: 15px;
    width: 36px;
    height: 24px;
    border: 2px solid white;
    border-radius: 12px 12px;
    box-sizing: border-box;
    text-align: center;
    line-height: 24px;
    background-color: rgba(0,0,0,.6);
    transition: all .2s linear;
}

.video-content > li i {
    font-size: 24px;
    color: white;
}

.video-content-play > div:hover span {
    background-color: #ff6700;
    border-color: #ff6700;
}