/* 顶部导航栏   topnav */
.topnav {
    background-color: #333333;
    height: 40px;
}

.topnav-left {
    float: left;
}

.topnav-left > a {
    float: left;
    color: #b0b0b0;
    font-size: 11px;
    line-height: 40px;
    margin: 0 8px;
}

.topnav-left > a:nth-child(1) {
    margin-left: 0px;
}

.topnav-left > i
,.topnav-right > i {
    float: left;
    color: #393f3f;
    line-height: 40px;
    font-size: 13px;
}

/*   下载APP 二维码    */
.topnav-left .app {
    position: relative;
}

.topnav-left .app > span {
    position: absolute;
    display: none;
    top: 39px;
    left: -34px;
    width: 110px;
    background-color: white;
    text-align: center;
    line-height: 0px;
    box-shadow: 0px 0px 4px 0px grey;
}

.topnav-left .app > span:before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 8px solid transparent;
    border-right:  8px solid transparent;
    border-bottom: 8px solid white;
    top: -18px;
    left: 50%;
    margin-left: -8px;
}

.topnav-left .app > span > img {
    width: 90px;
    height: 90px;
    margin: 10px 10px 0px 10px;
}
.topnav-left .app > span > em {
    display: block;
    color: #333333;
    font-size: 11px;
    line-height: 39px;
    font-weight: 400;
}

.topnav-left .app:hover span {
    display: block;
}

.topnav-right {
    float: right;
}

.topnav-right > a:nth-child(-n+5) {
    float: left;
    color: #b0b0b0;
    font-size: 11px;
    line-height: 40px;
    margin: 0 8px;
}

.topnav-right > a:nth-child(6) {
    float: left;
    color: #b0b0b0;
    width: 120px;
    height: 40px;
    background-color: #424242;
    line-height: 40px;
    font-size: 11px;
    margin-left: calc( 25px - 8px);
}

.topnav-right > a:nth-child(6) > i {
    float: left;
    font-size: 25px;
    margin-left: 14px;
    margin-right: 4px;
}

.topnav a:hover {
    color: white;
}

.topnav-right > a:nth-child(6):hover {
    color: #ff6700;
    background-color: white;
}


/* 搜索导航栏    searchnav */
.searchnav {
    height: 100px;
    /* background-color: aqua; */
}

.searchnav-logo {
    float: left;
    height: 50px;
    width: 50px;
    background-color: #ff6700;
    background-image: url(../img/mi-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: calc( ( 100px - 50px ) / 2 );
}

.searchnav-logo:hover {
    background-image: url(../img/mi-home.png);
    background-repeat: no-repeat;
}

.searchnav-nav {
    float: left;
    margin-left: calc( 189px - 10px);
}

.searchnav-nav > a {
    float: left;
    font-size: 15px;
    color: #333333;
    line-height: 100px;
    margin: 0 10px;
}

.searchnav-nav > a:hover {
    color: #ff6700;
}


.searchnav-search {
    float: right;
    position: relative;
    margin-top: 25px;
}

.searchnav-search input:nth-child(1) {
    float: left;
    width: 244px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    padding: 0 10px;
    border-right: none;
}
.searchnav-search input:nth-child(2) {
    float: left;
    width: 52px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    background-color: white;
    font-size: 23px;
    font-weight: 900;
    color: #616161;
    cursor: pointer;
}

.searchnav-search:hover input {
    border-color: #999999;
}

.searchnav-search input:nth-child(2):hover {
    color: white;
    background-color: #ff6700;
    border-color: #ff6700;
}

.searchnav-search input:focus
{
    border-color: #ff6700;
}

.searchnav-search-hotkeys {
    position: absolute; 
     width: 175px;
     height: 18px;
     /* background-color: yellow; */
     top: calc( ( 50px - 18px ) / 2 );
     left: 58px;
}

.searchnav-search-hotkeys > a {
    float: left;
    font-size: 11px;
    line-height: 18px;
    color: #757575;
    background-color: #eeeeee;
    padding: 0 5px;
}

.searchnav-search-hotkeys a:nth-child(1) {
    margin-right: 9px;
}

.searchnav-search-hotkeys > a:hover {
    color: white;
    background-color: #ff6700;
}

/* 轮播图 */
.carousel-photo > li > a {
    display: block;
    height: 460px;
}

.carousel-left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 234px;
    height: 460px;
    box-sizing: border-box;
    background-color: rgba(105,101,101,.6);
    padding-top: calc( (460px - (42px * 10)) / 2 );
}

.carousel-left > a {
    display: block;
    height: 42px;
    /* background-color: turquoise; */
    line-height: 42px;
    box-sizing: border-box;
    padding-left: 30px;
    font-weight: 700;
    color: #fff;
    padding-right: 24px;
}

.carousel-left > a:hover {
    background-color: #ff6700;
}

.carousel-left > a > i {
    float: right;
    font-weight: 400;
    font-size: 16px;
}
.carousel-prev {
    position: absolute;
    height: 69px;
    width: 41px;
    left: 234px;
    top: 50%;
    margin-top: -35px;
    font-size: 38px;
    line-height: 69px;
    text-align: center;
    cursor: pointer;
    color: #a3a8ab;
}

.carousel-prev i,
.carousel-next i {
    line-height: 75px;
}

.carousel-next {
    position: absolute;
    height: 69px;
    width: 41px;
    right: 0px;
    top: 50%;
    margin-top: -35px;
    font-size: 38px;
    line-height: 69px;
    text-align: center;
    cursor: pointer;
    color: #a3a8ab;
}

.carousel-next:hover,
.carousel-prev:hover {
    background-color: #000d13;
    color: white;
}

.carousel-bullet {
    position: absolute;
    right: 30px;
    bottom: 40px;

}
.carousel-bullet li {
    float: left;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border: 2px solid hsla(0,0%,100%,.3);
    background-color: rgba(0,0,0,.4);
    margin: 0 4px;
    border-radius: 50%;
}
.carousel-bullet li:hover {
    background-color: hsla(0,0%,100%,.4);
    border-color: rgba(0,0,0,.4);
}
